body{
    background: #79C0AF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial Narrow, sans-serif;
    font-size: 18px;
  }
  #form{
    background: #FDFDFD;
    width: 60%;
    border-radius: 10px;
  }
  #survey-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #label{
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #right-part{
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  input[type=text]{
    width: 60%;
    padding: 12px;
  }
  select{
    width: 30%;
    padding: 8px;
  }
#choice{
  margin: 0 20px 0 20px;
  display: flex;
  justify-content: flex-end;
}
input[type=radio]{
  margin: 10px 10px 10px 0;
}
input[type=checkbox]{
  margin: 10px 10px 10px 0;
}
#description{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
input[type=number]{
  width: 60%;
  padding: 12px;
}
textarea{
  width: 60%;
  height: 100%;
}
#buttons{
   padding: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

button{
  margin: 0 20px 0 20px;
  border: none;
  padding: 16px;
  width: 50%;
  background: #79C0AF;
  color: #ffffff;
  font-size: 14px;
}
#button-submit{
  display: flex;
  justify-content: flex-end;
}
#button-reset{
   display: flex;
   justify-content: flex-start;
}
#title{
  color: #242420;
}